body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('adventure_time.jpg');
  /*background-color:#444;*/
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.rotatingDancer{
  /*margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 2px;
  background-color: rgb(0,0,0,0);*/
  border: 0px !important;
  border-radius: 0px;
  width: 300px;
  height: 225px;
  background: url('jake_animated_nobg.gif') repeat;
  background-size: cover;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.explodingDancer{
  -webkit-animation-name: grow-shrink;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
}

.bouncingDancer{
  top: $("body").height() * Math.random();
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
}

.lineUpBouncyDancers{
  -webkit-animation-name: lineup-bounce;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
}
@keyframes grow-shrink{
    from {
        border-width: 10px;
    }
    to {
        border-width: 50px;
        border-radius: 50px;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes bounce {
    from {
    }
    to {
        top: 80%;
    }
}

@keyframes lineup-bounce {
    from {
        top: 50%;
    }
    to {
        top: 45%;
    }
}

.lineUpButton{
  padding:5px 12px;
  float:right;
}