body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('resources/adventure_time.jpg');
  /*background-color:#444;*/
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.rotatingDancer{
  /*margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 2px;
  background-color: rgb(0,0,0,0);*/
  border: 0px !important;
  border-radius: 0px;
  width: 400px;
  height: 300px;
  background: url('resources/jake_animated_nobg.gif') repeat;
  background-size: cover;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
.blinkingDancer{
  border: 0px !important;
  width: 100px;
  height: 100px;
  background: url('resources/beemo_dancing.gif') repeat;
  background-size: cover;
  /*-webkit-animation-name: blinking;
  -webkit-animation-duration: 100ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;*/
}
.explodingDancer{
  border: 0px !important;
  width: 50px;
  height: 50px;
  background: url('resources/gunther_dancing_cropped.gif') repeat;
  background-size: cover;
  -webkit-animation-name: grow-shrink;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
}

.bouncingDancer{
  border: 0px !important;
  width: 150px;
  height: 150px;
  background: url('resources/lp_princess.gif') repeat;
  background-size: cover;
  top: $("body").height() * Math.random();
  -webkit-animation-name: bounce;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
}

.lineUpBouncyDancers{
  -webkit-animation-name: lineup-bounce;
  -webkit-animation-duration: 500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: alternate;
}

.onCollision{
  border: 0px !important;
  width: 200px;
  height: 200px;
  background-size: cover;
  -webkit-animation: none !important;
}

@keyframes grow-shrink{
    from {
      width: 50px;
      height: 50px;
    }
    to {
      width: 200px;
      height: 200px;
    }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes bounce {
    from {
    }
    to {
        top: 80%;
    }
}

@keyframes lineup-bounce {
    from {
        top: 50%;
    }
    to {
        top: 45%;
    }
}

@keyframes blinking {
  from {
    display: inline;
  }
  to {
    display: none;
  }
}

.lineUpButton{
  padding:5px 12px;
  float:right;
}